<%= page_title("New user") %>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@user) do |f| %>
  <%= f.label :username %>:
  <%= f.email_field :username %> <br/>

  <%= f.label :password %>:
  <%= f.password_field :password %> <br/>

  <%= f.label :password_confirmation %>:
  <%= f.password_field :password_confirmation %> <br/>

  <%= f.label :role %> <br/>
  <%= f.label :user_role_admin %>
  <%= f.radio_button :role, "admin" %><br/>
  <%= f.label :user_role_user %>
  <%= f.radio_button :role, "user" %><br/>

  <%= f.fields_for :preferences do |preference| %>
    Send newsletter <%= preference.check_box :send_newsletter %><br/>
  <% end %>

  <%= f.submit %>
  <%= button_to "Delete", users_path(@user) %>
<% end %>

<%= current_page?(:action => "new") %>

<%= link_to 'Back', users_path %>
