<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div class="basic">
    Test
  </div>
  <div class"left.sidebar">
    <% if content_for? :left %>
      <%= yield :left %>
    <% else %>
      <div style="font-weight:bold">No menu</div>
    <% end %>
  </div>
  <div>
    <%= yield %>
  </div>
</body>
</html>
